body {
    color: black;
    padding: 20px;
    margin: 20px;
}

.active-listing-cont {
    display: flex;
    flex-direction: row;
    align-items: center; /* Vertically align items */
    border: 1px solid #ccc; /* Thin border with a light gray color */
    padding: 10px; /* Optional: Add padding inside the border */
    border-radius: 5px; /* Optional: Rounded corners */
    margin-bottom: 15px; /* Optional: Space between listings */
    width: 100%; /* Ensure container takes up full width */
    box-sizing: border-box; /* Includes padding in the width calculation */
}

.active-listing-img img {
    max-width: 250px; /* Limit the width */
    max-height: 250px; /* Limit the height */
    width: auto; /* Maintain aspect ratio */
    height: auto; /* Maintain aspect ratio */
    display: block;
    object-fit: contain;
}

.active-listing-info {
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex: 1; /* Ensures the info section takes available space */
}

.comment {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.list-group-item {
    margin-bottom: 20px; /* Adds space below each list item */
    padding: 15px; /* Optional: Adds space inside each item */
    border-radius: 5px; /* Optional: Adds rounded corners to the border */
}

#heading {
    display: flex;
    flex-direction: row;
    align-items: center; /* Ensure proper vertical alignment of elements */
    justify-content: space-between; /* Space between elements */
    width: 100%;
}

#title {
    color: black;
}

.cat-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 250px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    margin: 30px;
}

.cat-parent:hover {
    transform: scale(1.05);
}

.cat-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
}

.cat-img img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ccc;
}

.category-page-title {
    text-align: center;
    font-weight: normal;
    font-size: 45px;
    padding-bottom: 20px;
}