{% extends "auctions/layout.html" %}
{% load static %}  

{% block body %}

    <div class="category-page-title">Categories</div>
    <div class="cat">
        {% for item in categories %}
        <div class="cat-parent">
            <div class="cat-title">
                <a href="{% url 'category' item.name %}">{{ item.name }}</a>
            </div>
            <div class="cat-img">
                <img src="{% static 'images/'|add:item.name|add:'.jpg' %}" alt="{{ item.name }} image">
            </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}



