{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listing: {{ listing.title }}</h2>
    <div> <a href="{% url 'watchlist' listing.id %}">
        {% if listing in user.watchlist.all %}
            Remove from Watchlist
        {% else %}
            Add to Watchlist
        {% endif %}
    </a></div>
   
    {% if listing.image %}
    <img src="{{ listing.image.url }}" alt="Image for {{ listing.title }}">
    {% else %}
        <div>Image not available</div>
    {% endif %}

    <p>{{ listing.description }}</p>
    <h2>${{ listing.current_price|default:listing.starting_bid }}</h2>


    {% if user.is_authenticated %}
        <form action="{% url 'bidding' user.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="listing_id" value="{{ listing.id }}">
            <input type="number" name="bid" placeholder="Bid" required>
            <input type="submit" value="Place Bid">
        </form>
        {% if messages %}
    <ul>
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

    {% endif %}
    
    
{% endblock %}